<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="@Url.Content("~/resource/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/lib/aspnet/signalr/dist/browser/signalr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/irc.js")" type="text/javascript"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
